*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  /* border: 2px solid red; */
  height: 90vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
#Div1{
  /* border: 2px solid blue; */
  box-shadow: 2px 2px 5px black;

  width: 45%;
  height: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
#Div2{
  /* border: 2px solid blue; */
  box-shadow: 2px 2px 5px black;
  width: 45%;
  height: 70%;
  margin: auto;

  display: flex;
  flex-direction: column;
}